.create-vote-form{
    position: relative;
    width: 700px;
    .form-item{
        width: 100% !important;
        display: block;
    }
    input{
        width: 600px;
    }
    height: 600px;

    #btn-close{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #btn-create{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .input-date input{
        width: 250px !important;
    }

    .input-date-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .form-container{
        position: absolute;
        max-height: 530px;
        overflow: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        padding-left: 100px !important;
        textarea{
            width: 600px;
            max-height: 100px !important;
            overflow: auto !important;
        }
    }
}




.btn-container{
    position: absolute;
    width: 650px;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
}