.create-vote-form{
    position: relative;
    width: 500px;
    .form-item{
        width: 100% !important;
        display: block;
    }
    input{
        width: 400px;
    }
    height: 500px;

    #btn-close{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #btn-create{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


.form-container{
    position: absolute;
    max-height: 430px;
    overflow: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    textarea{
        width: 400px;
        max-height: 200px !important;
        overflow: auto !important;
    }
}

.btn-container{
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
}