#search-box{
    width: 700px !important;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    input{
        width: 500px;
    }
}
#btn-refresh{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-top: -10px;
    margin-left: 360px;
    .MuiSvgIcon-root{
        font-size: 50px !important;
    }
    
}

.plus-icon{
    font-size: 150px !important;
    position: absolute;
    transform: translate(-50%, 0%);
    top:60px;
    left: 50%;
}

.card-create-vote-container{
    position: relative;
    .card-vote{
        &:hover{
            background-color: rgba(0, 0, 0, 0.7);
            .plus-icon{
                color: white;
            }

            .create-vote-text{
                color: white;
            }
        }

        &:active{
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.create-vote-text{
    position: absolute;
    font-size: 30px;
    top:30px;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#votes-container{
    position: absolute;
    top:200px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.card-vote{
    // position: absolute;
    text-align: left;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin-left: 5%;
    height: 230px;
    margin-bottom: 50px;

    .card-content{
        position: relative;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    &:hover>.view-detail{
        display: block;
    }

    .eye-icon{
        position: absolute;
        top:50px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }

    .view-detail{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        padding-top: 60px;
        font-size: 40px;
        font-weight: 400;
        color:white;
        text-decoration: underline;
        text-align: center;
        -webkit-animation: moveTopDown2 0.3s ; 
        animation: moveTopDown2 0.3s ;
    }

    @-webkit-keyframes moveTopDown2 {
        from {padding-top: 200px;}
        to {padding-top: 60px;}
      }
      
      @keyframes moveTopDown2 {
        from {padding-top: 200px;}
        to {padding-top: 60px;}
      }

    .content-label{
        font-weight: 500 !important;
        font-size: 13px;
        text-decoration: underline;
        margin-bottom: 5px;
        font-style: italic;
    }

    .label{
        font-size: 13px;
    }
    .label-text{
        font-weight: 500;
        margin-right: 10px;
    }
    .min-date{
        font-size: 11px;
        font-style: italic;
        color: gray;
    }
    .content{
        text-align: justify;
        font-size: 15px;
        height: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
        margin-left: 5%;
    

    }
}
.card-vote-container{
    position: relative;
  
  
}

.small-account-container{
    text-align: center;
    font-size: 13px;
    font-style: italic;
}